/* BODY STYLING */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f7f9fc;
    color: #333;
}
/* Header Styling */
header{
    background-color: rgb(42, 42, 210);
    position:sticky;
    display:block;
    align-content: center;  
    color:#f7f9fc;
  
}
h1{
    display: flex;
    justify-content:center;
}
/* NAV STYLING */
nav ul{
    display: flex;
    justify-content:center;
}
nav li{
    margin: 0px 20px;

}
nav a{
    display:inline-block;
    color:#f7f9fc;
}
/* SECTION STYLING */
section main{
    display: block;
    justify-content: center;
    color: black;
    background-color: aliceblue;
}
img{
    display: flex;
    margin: 0 44%;
}
h2{
    display: flex;
    justify-content: center;
}

#bio{
    display: flex;
    justify-content: center;
}
/* Line dividing sections */
hr{
    border: 2px solid;
    /* margin:10px 10px; */
}

/* PROJECT STYLING */
.p1{
     border:2px solid black ;
    display: flex;
    height: 50px;
    background-color: aliceblue;
    justify-content: center;
    margin: 5px 100px;

}
.p2{
     border:2px solid black ;
    display: flex;
    height:50px;
    background-color: aliceblue;
    justify-content: center;
    margin: 5px 100px;
}
.p3{
     border:2px solid black ;
    display: flex;
    height: 50px;
    background-color: aliceblue;
    justify-content: center;
    margin: 5px 100px;
}

/* TABLE OF SKILLS STYLING */
.table{
    border:2px solid blue;
    margin:0 580px;
    height:300px;
    align-items: center;
    /* height: 100px; */
    width: 500px;
}
th{
    background-color: blue;
    border: 1px solid blue;
        color:white;

    justify-content: center;
}
td{
    border: 1px solid blue;
    background-color: aliceblue;
        color:black;

    justify-content: center;
}

/* FORM STYLING IN A TABLE */
.formtable{
    border:2px solid blue;
    align-items: center;
    margin:0 580px;
    height:300px;
    width: 600px;

}
#formtd{
    border: 1px solid blue;
    color:black;
    text-align: center;
    justify-content: center;
}
#send{
    justify-content: center;
    align-items: center;
}
input{
    width: 90%;
    height:80%;
    margin:8px  16px;
}
textarea{
    width: 90%;
    height:80%;
    margin:8px  16px;
}
button[type="Send"]{
    display: block;
    margin: 10px auto 5px auto;  /* Top, Right, Bottom, Left */
    text-align: center;
    width:90%;
    height:80%;
    background-color: blue;
    color:white;
}

/* BOTTOM TO TOP BUTTON ADJUSTMENTS */
#btt{
     display: block; 
    margin-left:1400px;
    background-color: blue;
    color: white;
    height: 40px;
    width:100px;
}

/* FOOTER STYLING */
footer{

    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
   
}